[alias]
  cm = commit
  cp = cherry-pick
  pl = pull
  ps = push
  ra = rebase --abort
  rc = rebase --continue
  ri = rebase --interactive
  rs = rebase --skip
  sw = switch
  uncommit = reset --soft HEAD^
